<div>
  <mat-card>
    <h3>Create Person</h3>
    <input matInput placeholder="First Name" #newFirstName style="margin-right: 20px;"/>
    <input matInput placeholder="Last Name" #newLastName/>
    <button mat-raised-button color="primary"
            (click)="createPerson(newFirstName.value, newLastName.value)">
      Create Person
    </button>
    <br/>
    <span *ngIf="personCreated">Person Created
      <mat-icon>check</mat-icon>
    </span>
  </mat-card>

  <mat-card style="display: flex; flex-direction: column;align-items: center;">
    <h3>Get Persons</h3>
    <button mat-raised-button color="primary"
            style="width: 150px; margin-top: 20px"
            (click)="getPersons()">
      Get Persons
    </button>

    <div *ngFor="let person of persons; let i=index">
      <div>{{i + 1}} person</div>
      <div>{{person.firstName}}</div>
      <div>{{person.lastName}}</div>
      <br>
    </div>
  </mat-card>


  <mat-card>
    <h3>Find Person</h3>
    <input matInput placeholder="First Name" #findFirstName style="margin-right: 20px;"/>
    <input matInput placeholder="Last Name" #findLastName/>
    <button mat-raised-button color="primary"
            (click)="findPerson(findFirstName.value, findLastName.value)">
      Find Person
    </button>
    <div *ngIf="person">
      <div>Person Find</div>
      <div>{{person.firstName}}</div>
      <div>{{person.lastName}}</div>
      <mat-icon>check</mat-icon>
    </div>
    <h2 *ngIf="personNotFound">Person Not Found</h2>
  </mat-card>

  <mat-card>
    <h3>Delete Person</h3>
    <input matInput placeholder="First Name" #deleteFirstName style="margin-right: 20px;"/>
    <input matInput placeholder="Last Name" #deleteLastName/>
    <button mat-raised-button color="primary"
            (click)="deletePerson(deleteFirstName.value, deleteLastName.value)">
      Delete Person
    </button>
    <br/>
    <span *ngIf="personDeleted">Person Deleted
      <mat-icon>check</mat-icon>
    </span>
  </mat-card>

  <mat-card style="display: flex; flex-direction: column;align-items: center;">
    <h3>Update Person</h3>

    <div>
      <h5>ID Current Person</h5>
      <input matInput placeholder="First Name" #idPerson/>
    </div>

    <div>
      <h5>Uodate Person</h5>
      <input matInput placeholder="First Name" #updateFirstName style="margin-right: 20px;"/>
      <input matInput placeholder="Last Name" #updateLastName/>
    </div>

    <button mat-raised-button color="primary"
            style="width: 150px; margin-top: 20px"
            (click)="updatePerson(idPerson.value, updateFirstName.value, updateLastName.value)">
      Update Person
    </button>
    <br/>
    <span *ngIf="personUpdated">Person Updated
      <mat-icon>check</mat-icon>
    </span>
  </mat-card>
</div>
